a(class="github-button", href="https://github.com/felipeog/homer", target="_blank", rel="noreferrer")
  img(class="github-logo", src="../assets/GitHub-Mark-Light-64px.png", alt="GitHub logo", title="felipeog/homer")
