div.homer-head
  div.top
    div.left-eye: div.pupil
    div.nose
    div.right-eye: div.pupil

  div.bottom
    div.cheek
    div.chin
    div.philtrum
    div.upper-lip: div.round-stroke
    div.lower-lip: div.round-stroke
    