doctype html

html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(rel="shortcut icon", href="https://felipeog.com.br/favicon-96x96.png", type="image/png")
    link(rel="stylesheet", href="../scss/index.scss")

    title Homer Simpson

  body
    div.wrapper
      include ./includes/github-button.pug
      include ./includes/homer-head.pug

    script(src="../js/index.ts", type="module")
