*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $head-width;
  min-height: 100vh;
  background: $skin-color;
}
